{% extends 'partials/newbase.html' %}
{% load static %}

{% block title %}Shopping Cart - {{ site_name }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/tier1-cart-checkout.css' %}">
{% endblock %}

{% block content %}
<div id="cart-root"></div>

<script src="https://unpkg.com/react@18/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js" crossorigin></script>
<script src="https://unpkg.com/framer-motion@10/dist/framer-motion.js"></script>
<script type="module">
  import CartPage from '{% static "js/react/components/CartPage.jsx" %}?v=1';
  
  const root = ReactDOM.createRoot(document.getElementById('cart-root'));
  root.render(React.createElement(CartPage));
</script>
{% endblock %}